.RetroBoardCard {
  transform: scale(1);
  align-self: start;
  list-style: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.0625rem 0.0625rem #0000001c;
  background-color: #fff;
  transition: all 0.15s cubic-bezier(0.22, 1, 0.36, 1);
}
.RetroBoardCard:hover,
.RetroBoardCard:focus {
  position: relative;
  z-index: 9;
  transform: scale(1.05);
  box-shadow: 0 0.375rem 0.5rem #0000001c;
  transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}
.RetroBoardCard + .RetroBoardCard {
  margin-top: 1rem;
}

.RetroBoardCard__headline {
  display: flex;
  padding: 0;
  color: #fff;
  border-radius: 0.5rem 0.5rem 0 0;
}
.RetroBoardCard__headline > * {
  margin: 0;
  padding: 1rem;
}
.RetroBoardCard__headline > h4 {
  flex-grow: 1;
}

.RetroBoardCard__control {
  display: flex;
  position: relative;
  justify-content: flex-end;
  flex-basis: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1rem;
}
.RetroBoardCard__control > button {
  all: unset;
}

.RetroBoardCard__text.--no-headline {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}
.RetroBoardCard__text.--no-headline .RetroBoardCard__control {
  position: absolute;
  right: 0;
  padding: 1rem;
}
.RetroBoardCard__text pre {
  padding: 0 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  word-break: break-word;
  white-space: pre-wrap;
}

.RetroBoardCard__creator {
  margin: 0;
  padding: 0.75rem 1rem;
  font-size: 0.75rem;
  opacity: 0.7;
}

/* Category colors */
/* .RetroBoardCard.good .RetroBoardCard__headline {
  background-color: #2660a4;
}
.RetroBoardCard.bad .RetroBoardCard__headline {
  background-color: #d52941;
}
.RetroBoardCard.toTry .RetroBoardCard__headline {
  background-color: #efbc06;
}
.RetroBoardCard.shoutOut .RetroBoardCard__headline {
  background-color: #14cc5e;
} */
.RetroBoardCard.good .RetroBoardCard__headline {
  background-color: #eef4fb;
  color: #2660a4;
}
.RetroBoardCard.bad .RetroBoardCard__headline {
  background-color: #fceef0;
  color: #d52941;
}
.RetroBoardCard.toTry .RetroBoardCard__headline {
  background-color: #fefaeb;
  color: #efbc06;
}
.RetroBoardCard.shoutOut .RetroBoardCard__headline {
  background-color: #ecfdf3;
  color: #14cc5e;
}
.RetroBoardCard.good .RetroBoardCard__creator {
  color: #2660a4;
}
.RetroBoardCard.bad .RetroBoardCard__creator {
  color: #d52941;
}
.RetroBoardCard.toTry .RetroBoardCard__creator {
  color: #efbc06;
  opacity: 0.9;
}
.RetroBoardCard.shoutOut .RetroBoardCard__creator {
  color: #14cc5e;
  opacity: 0.8;
}
.RetroBoardCard.good.noHeadline {
  border-top: 0.5rem solid #eef4fb;
}
.RetroBoardCard.bad.noHeadline {
  border-top: 0.5rem solid #fceef0;
}
.RetroBoardCard.toTry.noHeadline {
  border-top: 0.5rem solid #fefaeb;
}
.RetroBoardCard.shoutOut.noHeadline {
  border-top: 0.5rem solid #ecfdf3;
}
.RetroBoardCard.good.noHeadline .RetroBoardCard__control {
  color: #2660a4;
}
.RetroBoardCard.bad.noHeadline .RetroBoardCard__control {
  color: #d52941;
}
.RetroBoardCard.toTry.noHeadline .RetroBoardCard__control {
  color: #efbc06;
}
.RetroBoardCard.shoutOut.noHeadline .RetroBoardCard__control {
  color: #14cc5e;
}
