.Menu {
  position: absolute;
  top: 3rem;
  right: 0;
  z-index: 10;
  visibility: hidden;
  min-width: 12rem;
  padding: 0.25rem 0;
  box-shadow: 0 0.25rem 0.25rem #0000004c;
  background-color: #fff;
}
.Menu.visible {
  visibility: visible;
}

.Menu > li {
  display: flex;
  font-size: 1rem;
  font-weight: normal;
  line-height: auto;
}
.Menu > li + li {
  border-top: 0.0625rem solid #ebebeb;
}

.Menu > li > a {
  flex-grow: 1;
  padding: 1rem;
}
