.BoardsItem__name {
  display: flex;
  flex-grow: 0;
  min-width: 0;
  padding: 1rem;
  border-bottom: 0.0625rem solid #ebebeb;
}
.BoardsItem__name > h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.BoardsItem__date {
  margin: 0;
  padding: 0.75rem 1rem;
  border-top: 0.0625rem solid #ebebeb;
}
