.BoardsItem {
  transform: scale(1);
  align-self: start;
  list-style: none;
  box-shadow: 0 0.0625rem 0.0625rem #0000001c;
  background-color: #fff;
  border-radius: 0.5rem;
  transition: all 0.15s cubic-bezier(0.22, 1, 0.36, 1);
}
.BoardsItem:hover,
.BoardsItem:focus {
  position: relative;
  z-index: 9;
  transform: scale(1.05);
  box-shadow: 0 0.25rem 0.25rem #0000001c;
  transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}

.BoardsItem__header {
  display: flex;
  flex-wrap: nowrap;
  background-color: #eef4fb;
  color: #2660a4;
  border-radius: 0.5rem 0.5rem 0 0;
}
.BoardsItem a {
  color: #2660a4;
  text-decoration: none;
}

.BoardsItem:hover .BoardsItem__header {
  color: #fff;
  background-color: #2660a4;
}

.BoardsItem:hover .BoardsItem__header a {
  color: #fff;
}

.BoardsItem__headerControl {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1rem;
}
.BoardsItem__headerControl > button {
  all: unset;
}

.BoardsItem__headerInfo {
  min-width: 0;
  flex-grow: 1;
}
.BoardsItem__headerInfo > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.BoardsItem__name {
  padding: 1rem 1rem 0;
}

.BoardsItem__date {
  margin: 0;
  padding: 0.25rem 1rem 1rem;
  font-size: 0.75rem;
}
