.BoardThumbnail {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.5rem;
  grid-template-rows: 1fr;
  padding: 1rem;
}

.BoardThumbnail__card {
  width: 100%;
  margin-bottom: 0.25rem;
  padding-top: 56.25%;
  align-self: stretch;
}
.BoardThumbnail__card.filled {
  background-color: #ebebeb;
}
.BoardThumbnail__card.empty {
  background-color: transparent;
}
