.Header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0.125rem 0.125rem #0000001c;
}

.Header.fullWidth .Header__wrapper {
  max-width: 100%;
}

.Header__wrapper {
  display: flex;
  align-items: center;
  padding: 1.5rem 1rem;
}

.Header__title {
  flex-shrink: 0;
  overflow: hidden;
}
.Header__title > a {
  display: flex;
  align-items: center;
  font-weight: 400;
  color: #474747;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  text-decoration: none;
}
.Header__title > a:hover {
  text-decoration: underline;
}
.Header__title > a > img {
  margin-right: 1rem;
}

.Header__subTitle {
  font-weight: 400;
  flex-shrink: 1;
  margin: 0 1rem;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Header__button {
  display: block;
  padding: 0.5rem 1rem;
  color: #2660a4;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: background-color 0.25s ease;
}
.Header__button:hover {
  box-shadow: inset 0 0.0625rem 0.0625rem #0000001c;
}
.Header__button.primary {
  background-color: transparent;
}
.Header__button.primary:hover {
  background-color: #2660a4;
  color: #fff;
}

.Nav {
  flex-grow: 1;
  flex-shrink: 0;
}
.Nav > ul {
  display: flex;
  justify-content: flex-end;
}
.Nav > ul > li + li {
  margin-left: 0.5rem;
}

@media all and (max-width: 32rem) {
  .Header__title > a {
    letter-spacing: 0.125rem;
  }
  .Header__title > a > img {
    margin-right: 0.5rem;
  }
  .Header__titleAuthed span,
  .Header__subTitle {
    display: none;
  }
  .Header__button {
    padding: 0.5rem;
  }
}

@media all and (min-width: 50rem) {
  .Header__wrapper {
    max-width: 64rem;
    align-self: center;
    margin: 0 auto;
  }
}
