.Footer {
  flex-shrink: 1;
  justify-self: flex-end;
  background-color: #f0f0f0;
}

.Footer__wrapper {
  display: flex;
  flex-direction: column-reverse;
  padding: 1rem 1.5rem;
}

.Footer__contact {
  flex-grow: 1;
}
.Footer__contact > ul {
  display: flex;
}
.Footer__contact > ul > li + li {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  border-left: 0.0625rem solid #0000001c;
}

.Footer__copyright {
  flex-grow: 0;
  margin-bottom: 0;
  font-size: 0.75rem;
}

@media all and (min-width: 50rem) {
  .Footer__wrapper {
    max-width: 64rem;
    align-self: center;
    margin: 0 auto;
  }
}
