.FormField {
  display: flex;
  flex-direction: column;
}
.FormField + .FormField {
  margin-top: 0.5rem;
}

.FormField__label {
  color: #474747;
}

.FormField__input,
.FormField__select > select {
  margin-top: 0.125rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.125rem;
  border: 0.0625rem solid #474747;
  color: #474747;
  background: #ffffff;
}
.FormField__select {
  display: flex;
  flex-direction: column;
  position: relative;
}
.FormField__select::after {
  content: 'â¯';
  font-size: 0.75rem;
  top: 0.75rem;
  right: 1rem;
  position: absolute;
  transform: rotate(90deg);
}
.FormField__select > select {
  -webkit-appearance: none;
  appearance: none;
}

.FormField__textarea {
  margin-top: 0.125rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  border: 0.0625rem solid #474747;
  color: #474747;
  background: #ffffff;
}

.FormField__required {
  padding-left: 0.25rem;
  color: #d52941;
}
