.Hero {
  position: relative;
  z-index: 2;
  background-color: #ebebeb;
  padding: 6rem 2rem;
}
.Hero__wrapper h2 {
  line-height: 2rem;
  font-size: 1rem;
}
.Hero__wrapper h2 > span {
  line-height: auto;
  font-size: 2rem;
}

.AppInfo {
  position: relative;
  z-index: 1;
}
.AppInfo__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  padding-top: 2rem;
}
.AppInfo__wrapper img {
  margin-bottom: 0.5rem;
}

.AppDemo {
  flex-grow: 1;
}

@media all and (min-width: 30rem) {
  .Hero__wrapper {
    display: flex;
  }
}

@media all and (min-width: 64rem) {
  .AppInfo__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
