@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  position: relative;
  margin: 0;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #474747;
  background: #fcfcfc;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 3.75rem;
}
main > section > div {
  padding: 1rem 1.5rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
}
ul > li {
  list-style: none;
}

/* a {
  color: #5e4352;
}
a:hover {
  color: #c08497;
} */

@media all and (min-width: 50rem) {
  main > section > div {
    max-width: 64rem;
    align-self: center;
    margin: 0 auto;
  }
}

/* React generated element */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
