.Teams__wrapper {
  display: flex;
  flex-direction: column;
}

.Teams__header {
  display: flex;
  align-items: center;
}
.Teams__header > h2 {
  flex-grow: 1;
}

.Teams__button {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: background-color 0.25s ease;
}
.Teams__button:hover {
  box-shadow: inset 0 0.0625rem 0.0625rem #0000001c;
}
.Teams__button.primary {
  background-color: #2660a4;
  color: #fff;
}
.Teams__button.primary:hover {
  background-color: transparent;
  color: #2660a4;
}

.Teams__button.footer {
  align-self: center;
  margin-top: 1rem;
}
